body { margin: 0;} 
body * {box-sizing: border-box;}

html, body {
 height:100%;
 width: 100%;
 padding:0;
 margin:0;
 scroll-behavior: smooth;
 background-color: rgb(255, 255, 255);
}

/*Global Styles Start*/

section{
    padding: 10% 5%;
    color: rgb(0, 0, 0);
    font-family: 'Dosis', sans-serif;
    text-align: center;
}
.section-header{
    width: 30%;
    text-align: center;
    position: relative;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
}
.section-header h1{
    margin-bottom: .5em;
}

.flex-item{
    width: 100%;
    max-width: 100%;
}
/*Global Styles End*/


/*Header Starts*/

.header{
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.199),
        rgba(0, 0, 0, 0.199)),
        url("https://media3.giphy.com/media/fiqiQvw2aNThPoM7iK/giphy.gif?cid=ecf05e47a4b2737ee0d78f559760b0bfaf2ecd0221c1591d&rid=giphy.gif");   
    background-attachment: scroll;
    background-position: center top 10%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 100vh;
}

.header-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header-text h1{
    font-size: 4em;
    color: white;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    margin:5px 0px;
}

.header-text h2{
    font-size: 1.5em;
    font-style: italic;
    font-family: 'Annie Use Your Telescope', cursive;
    font-weight: 100;
    color: white;
}

.divider{
    width: 100%;
    height: 5px;
    background-color:  rgb(255, 38, 0);
    border-left: 5px solid rgb(255, 38, 0);
    border-right: 5px solid rgb(255, 38, 0);
    border-radius: 50%;
}

.action-btn{
    padding: .5em .5em;
    margin-top: 20px;
    border: none;
    border-radius: .5em;
    background-color: rgb(255, 38, 0);
    font-size: 1em;
    font-family: 'Dosis', sans-serif;
    color: white;
    cursor: pointer;
}

.action-btn:hover{
    
    transform: scale(.7);
    transition: .5s;
}
/*Header Ends*/


/*Navbar Starts*/

.navbar{
    display: flex;
    align-items: baseline;
    justify-content: center;
    position: fixed;
    background-color:rgba(247, 94, 67, 0.39);
    width: 100%;
    font-family: 'Dosis', sans-serif;
    z-index: 99;
    transition: top 0.5s;
}
.nav-list{
    font-size: 1.1em;
    color: white;
    padding: 0;
}


.nav-list a, a:hover {
    color: white;
    text-decoration: none;
  }
  
.nav-list li {
    display: inline-block;
    position: relative;
    padding-bottom: 3px;
    margin-right: 10px;
    z-index: 99;
  }
  .nav-list li:last-child {
    margin-right: 0;
  }
  
  .nav-list  li:after {
      content: '';
      display: block;
      margin: auto;
      height: 3px;
      width: 0px;
      background: transparent;
      transition: width .5s ease, background-color .5s ease;
  }
  .nav-list li:hover:after {
      width: 100%;
      background: rgb(255, 38, 0);
  }

/*Navbar Ends*/


/* Discover Starts*/
 .headings{
     width: 100%;
 }

/*Discover Ends*/


/*Gallery Starts*/

img{
    width: 100%;
    max-width: 100%;
}

/*Gallery Ends*/


/*Review Starts*/

/*Review Ends*/


/*Contact Starts*/

  .social-links {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding:0;
    list-style: none;
    text-align: center;
    font-size: 1.5em;
  }
  
  .social-links a {
    color:  rgb(255, 38, 0);
    background-color:white;
  }
  
  
  .fa-twitter-square {
      padding:10px 14px;
      -o-transition:.5s;
      -ms-transition:.5s;
      -moz-transition:.5s;
      -webkit-transition:.5s;
      transition: .5s;
  }
  .fa-twitter-square:hover {
      background-color: #00acee;
      color:white;
      border-radius: 1em;
  }
  
  .fa-envelope-o{
      padding:10px 14px;
      -o-transition:.5s;
      -ms-transition:.5s;
      -moz-transition:.5s;
      -webkit-transition:.5s;
      transition: .5s;
      
  }
  .fa-envelope-o:hover {
      background-color: #4285F4;
      color:white;
      border-radius: 1em;
  }

  .fa-instagram {
    
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    
}
.fa-instagram:hover {
    background-color: #8a3ab9;
    color:white;
    border-radius: 1em;
}
  
  .fa-pinterest-square {
      padding:10px 14px;
      -o-transition:.5s;
      -ms-transition:.5s;
      -moz-transition:.5s;
      -webkit-transition:.5s;
      transition: .5s;
      background-color: white;
  }
  .fa-pinterest-square:hover{
      background-color: #E60023;
      color:white;
      border-radius: 1em;
  }
  
/*Contact Ends*/


/* Footer Starts */

.footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    color: white;
    background-color:rgb(255, 38, 0);
    padding-top: 1em;
    padding-bottom: .07em;
    min-height: 10vh;
  }

  .footer p {
      line-height: .5%;
  }

  .footer p a {
      text-decoration: none;
      color: white;
      font-style: italic;
  }
  
  .footer p a:hover{
    color: black;
    transition: .5s;
  }

  /* Footer Ends */
  .contact iframe{
    border-radius: .5em;
}
/* Media Queries Start*/

  @media (min-width: 769px) {
    section{
        padding: 5% 20%;
    }
    .flex-test {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .reviews .flex-test {
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
    .flex-item{
        margin: 2% 2%;
    }
    .contact iframe{
        width: 30vw;
    }
   
}

/* Media Queries End*/

