body { margin: 0;} 
body * {box-sizing: border-box;}

html, body {
 height:100%;
 width: 100%;
 padding:0;
 margin:0;
 scroll-behavior: smooth;
 background-color: rgb(255, 255, 255);
}

/*Global Styles Start*/
:root {
    --primary-color:rgb(255, 38, 0);
}
.divider{
    width: 100%;
    height: 5px;
    background-color: var(--primary-color);
    border-left: 5px solid var(--primary-color);
    border-right: 5px solid var(--primary-color);
    border-radius: 50%;
}
section{
    padding: 10% 5%;
    color: rgb(0, 0, 0);
    font-family: 'Dosis', sans-serif;
    text-align: center;
    overflow-x: hidden;
}
.section-header{
    width: 50%;
    text-align: center;
    position: relative;
    top: 30%;
    left: 50%;
    -webkit-transform: translate(-50%, -30%);
            transform: translate(-50%, -30%);
    margin-bottom: 2em;
}
.section-header h1{
    margin-bottom: .5em;
}

.flex-item{
    width: 100%;
    max-width: 100%;
}
.flex-item img{
    width: 100%;
    max-width: 100%;
}

.parallax{
    width: 100%;
    height: 50vh;
    overflow: hidden;
    position: relative;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

body[data-aos-delay='4000'] [data-aos],
  [data-aos][data-aos][data-aos-delay='4000'] {
    -webkit-transition-delay: 4000ms;
            transition-delay: 4000ms;
}
/*Global Styles End*/


/*Hero Starts*/

.hero{
    background-image: -webkit-linear-gradient(
        rgba(0, 0, 0, 0.199),
        rgba(0, 0, 0, 0.199)),
        url("https://media3.giphy.com/media/fiqiQvw2aNThPoM7iK/giphy.gif?cid=ecf05e47a4b2737ee0d78f559760b0bfaf2ecd0221c1591d&rid=giphy.gif");
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.199),
        rgba(0, 0, 0, 0.199)),
        url("https://media3.giphy.com/media/fiqiQvw2aNThPoM7iK/giphy.gif?cid=ecf05e47a4b2737ee0d78f559760b0bfaf2ecd0221c1591d&rid=giphy.gif");   
    background-attachment: scroll;
    background-position: center top 10%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 100vh;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.hero-text h1{
    font-size: 4em;
    color: white;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    margin:5px 0px;
}

.hero-text h2{
    font-size: 1.5em;
    font-style: italic;
    font-family: 'Annie Use Your Telescope', cursive;
    font-weight: 100;
    color: white;
}

.action-btn{
    padding: .5em .5em;
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    border-radius: .5em;
    background-color: var(--primary-color);
    font-size: 1em;
    font-family: 'Dosis', sans-serif;
    color: white;
    cursor: pointer;
}

.action-btn:hover{
    -webkit-transform: scale(.7);
            transform: scale(.7);
    -webkit-transition: .5s;
    transition: .5s;
}
/*Hero Ends*/


/*Navbar Starts*/

.navbar{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: fixed;
    background-color:rgba(255, 38, 0, 0.5);
    width: 100%;
    font-family: 'Dosis', sans-serif;
    z-index: 99;
    -webkit-transition: top 0.5s;
    transition: top 0.5s;
}
.nav-list{
    font-size: 1.1em;
    padding: 0;
}

.nav-list a, a:hover {
    color: white;
    text-decoration: none;
  }
  
.nav-list li {
    display: inline-block;
    position: relative;
    padding-bottom: 3px;
    margin-right: 10px;
    z-index: 99;
  }
  .nav-list li:last-child {
    margin-right: 0;
  }
  
  .nav-list  li:after {
    content: '';
    display: block;
    margin: auto;
    height: 3px;
    width: 0px;
    background: transparent;
    -webkit-transition: width .5s ease, background-color .5s ease;
    transition: width .5s ease, background-color .5s ease;
  }
  .nav-list li:hover:after {
    width: 100%;
    background: var(--primary-color);
  }

/*Navbar Ends*/


/* Discover Starts*/

 .parallax-image-1{
    background-image: url("https://images.pexels.com/photos/1307698/pexels-photo-1307698.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
 }

/*Discover Ends*/


/*Gallery Starts*/

.image-grid{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
            align-content: stretch;
    height: 100%;
}
.image-grid img{
    width: 100%;
    margin: 2px 0px;
}
.parallax-image-2{
    background-image: url("https://images.pexels.com/photos/3218467/pexels-photo-3218467.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
 }
/*Gallery Ends*/


/*Review Starts*/

.parallax-image-3{
    background-image: url("https://images.pexels.com/photos/2074130/pexels-photo-2074130.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
 }
/*Review Ends*/


/*Contact Starts*/

  .social-links {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding:0;
    list-style: none;
    text-align: center;
    font-size: 1.5em;
  }
  
  .social-links a {
    color:  var(--primary-color);
    background-color:white;
  }
  
  
  .fa-twitter-square,
  .fa-envelope-o,
  .fa-instagram,
  .fa-pinterest-square {
    padding:10px 14px;
    -webkit-transition:.5s;
    transition: .5s;
  }
  .fa-twitter-square:hover {
    background-color: #00acee;
    color:white;
    border-radius: 1em;
  }
  
  .fa-envelope-o:hover {
    background-color: #4285F4;
    color:white;
    border-radius: 1em;
  }

  .fa-instagram:hover {
    background-color: #8a3ab9;
    color:white;
    border-radius: 1em;
  }
  
  .fa-pinterest-square:hover{
    background-color: #E60023;
    color:white;
    border-radius: 1em;
  }
  .map iframe{
    border-radius: .5em;
}
/*Contact Ends*/


/* Review Starts*/
.parallax-image-4{
    background-image: url("https://images.pexels.com/photos/2478348/pexels-photo-2478348.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
 }

 /* Review Ends*/


/* Footer Starts */

.footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    text-align: center;
    color: var(--primary-color);
    background-color: white;
    padding-top: 1em;
    padding-bottom: .07em;
    min-height: 10vh;
  }

  .footer p {
      line-height: .5%;
  }

  .footer p a {
      text-decoration: none;
      color: var(--primary-color);
      font-style: italic;
  }
  
  .footer p a:hover{
    color: black;
    -webkit-transition: .5s;
    transition: .5s;
  }

  .scroll-up-btn{
    display: block;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    padding: 0;
    margin: auto;
    color: var(--primary-color);
    background-color: white;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    z-index: 99;   
  }

  .fa-angle-double-up{
    padding: .3em;
    -webkit-animation: updown 1.3s ease infinite;
            animation: updown 1.3s ease infinite;
  }

  @-webkit-keyframes updown {
    0% {
      -webkit-transform: translateY(0%);
              transform: translateY(0%);
    }
  
    50% {
      -webkit-transform: translateY(-30%);
              transform: translateY(-30%);
    }
  
    100% {
      -webkit-transform: translateY( 0%);
              transform: translateY( 0%);
    }
  }

  @keyframes updown {
    0% {
      -webkit-transform: translateY(0%);
              transform: translateY(0%);
    }
  
    50% {
      -webkit-transform: translateY(-30%);
              transform: translateY(-30%);
    }
  
    100% {
      -webkit-transform: translateY( 0%);
              transform: translateY( 0%);
    }
  }

  /* Footer Ends */


/* Media Queries Start*/

  @media (min-width: 769px) {
    
    .nav-list{
        font-size: 1.5em;
        padding: 0;
    }
   
    section{
        padding: 5% 20%;
    }
    .section-header{
        width: 30%;
        text-align: center;
        position: relative;
        top: 30%;
        left: 50%;
        -webkit-transform: translate(-50%, -30%);
                transform: translate(-50%, -30%);
    }

    .flex-parent {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .flex-item{
        margin: 5px 5px;
    }

    .image-grid{
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        -webkit-align-content: stretch;
            -ms-flex-line-pack: stretch;
                align-content: stretch;
        height: 100%;
    }
    .image-grid img{
        width: 49%;
        margin: 2px 2px;
    }

    .reviews .flex-parent {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
            -ms-flex-align: start;
                align-items: flex-start;
    }
   
    .contact iframe{
        width: 30vw;
    }
   
}

/* Media Queries End*/
