body { margin: 0;} 
body * {box-sizing: border-box;}

html, body {
 height:100%;
 width: 100%;
 padding:0;
 margin:0;
 scroll-behavior: smooth;
 background-color: rgb(255, 255, 255);
}

.header{
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.199),
        rgba(255, 255, 255, 0.308)),
        url("https://images.pexels.com/photos/2128535/pexels-photo-2128535.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");   
    background-attachment: scroll;
    background-position: center top 10%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 100vh;
}

.header-text {
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
}

.header-text h1{
    font-size: 4em;
    color: white;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    border-bottom: 5px solid rgb(255, 38, 0);
}

.header-text h2{
    font-size: 1.5em;
    font-style: italic;
    font-family: 'Annie Use Your Telescope', cursive;
    font-weight: 100;
    color: white;
}

.action-btn{
    padding: .5em .5em;
    border: none;
    border-radius: .5em;
    background-color: rgb(255, 38, 0);
    font-size: 1em;
    font-family: 'Dosis', sans-serif;
    color: white;
    cursor: pointer;
}

.action-btn:hover{
    
    transform: scale(.7);
    transition: .5s;
}



.navbar{
    display: flex;
    align-items: baseline;
    justify-content: center;
    position: fixed;
    background-color:rgba(247, 94, 67, 0.39);
    width: 100%;
    font-family: 'Dosis', sans-serif;
    z-index: 99;
    transition: top 0.5s;
}
.nav-list{
    font-size: 1.1em;
    color: white;
    padding: 0;
}


a, a:hover {
    color: white;
    text-decoration: none;
  }
  
  li {
    display: inline-block;
    position: relative;
    padding-bottom: 3px;
    margin-right: 10px;
    z-index: 99;
  }
  li:last-child {
    margin-right: 0;
  }
  
  li:after {
      content: '';
      display: block;
      margin: auto;
      height: 3px;
      width: 0px;
      background: transparent;
      transition: width .5s ease, background-color .5s ease;
  }
  li:hover:after {
      width: 100%;
      background: rgb(255, 38, 0);
  }

  /* Discover Section*/

 
.discover{
    padding: 5vh 5vh;
    color: rgb(0, 0, 0);
    font-family: 'Dosis', sans-serif;
}

.img-grid{
    display: grid;
    width: 100%;
    
}

img{
    width: 100%;
    max-width: 100%;
}
